@media (max-width: 991px)
    section.promo 
        padding: 21px 15px 93px 15px 
    section.advantages 
        padding: 75px 15px 65px 15px
    section.consultation
        padding: 100px 15px 110px 15px
    section.carousel
        padding: 80px 15px 100px 15px
        ul
            display: flex !important
            justify-content: center
            align-items: center
            margin-top: 40px
            li
                list-style: none
            button
                font-size: 0
                width: 30px
                height: 30px
                background-color: #000
                border-radius: 50%
                margin: 0 30px
                &:focus
                    background-color: #fff
     
@media (max-width: 768px)
            

        