@media (max-width: 991px)

    body
        .promo
            padding: 21px 40px 93px 40px
        .advantages
            padding: 75px 40px 65px 40px
            &__item
                width: 210px
        .consultation
            padding: 100px 40px 110px 40px
        .catalog
            padding: 100px 40px 110px 40px
        .carousel
            ul
                display: flex
                justify-content: center
                align-items: center
                li
                    list-style-type: none
                    margin: 0 20px
                button
                    font-size: 0
                    width: 40px
                    height: 40px
                    background-color: rgba(199,1,1, 0.9)
                    border: none
                    border-radius: 50%
                    &:focus
                        background-color: #fff

        .feed
            padding: 100px 40px 110px 40px

        .pageup
            display: none !important
