@import 'base/media'  
@import 'base/variables'
@import 'base/_animations'  
    
*
    font-family: 'Museo Sans Cyrl', sans-serif
    box-sizing: border-box
    
.container
    max-width: 950px
    margin: 0 auto


@import 'blocks/promo'
@import 'blocks/header'
@import 'blocks/buttons'
@import 'blocks/advantages'
@import 'blocks/consultation'
@import 'blocks/title'
@import 'blocks/forms'
@import 'blocks/catalog'
@import 'blocks/_feed'
@import 'blocks/_footer'
@import 'blocks/_modal'
@import 'blocks/_pageup'




